<head><link rel="stylesheet" href="..\fonts\fonts.css"> </head>

<style>
  a {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: black;
    width: 140px;
    left: -120px;
    border-radius: 0px 15px 15px 0px;
    transition-duration: 1s;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);;
  }
  a:hover {
    left: 0px;
  }
</style>

<a>tab text</a>