$base_color: #007681;
$article_color: mix(white, $base_color, 70%);
$button_color: mix(white, $base_color, 30%);
$submenu_tab_color: mix(white, $base_color, 45%);
$text_input_color: mix(white, $base_color, 65%);
$field_color: mix(white, $base_color, 40%);

