@import "src/style/template.scss";

$input_color: mix(white, $base_color, 50%);
$field_color: mix(white, $base_color, 40%);

ul, li {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0px;
  text-align: right;
  background: $field_color;

  input[type=text] {  
  background: $field_color;
  width: 60px;
  }
}
label {
  display: inline;
  font-size: 24px;
  padding-right: 6px;
}
input {
  font-size: 20px;
  border: none;
  transition-duration: 0.5s;
  font-family: Candara, Verdana, sans-serif;
}
input[type=text] {
  background: mix(white, $base_color, 65%);
  line-height: 30px;
  width: 300px;
  padding: 4px;
  width: 50vw;
}
input:hover {
  background: mix(white, $base_color, 30%);
}
button {
  border: none;
  background: $button_color;
  width: 100px;
  height: 38px;
  transition-duration: 0.5s;
  font-size: 14px;
}
button:hover {
  display: inline-block;
  background: mix($base_color, $button_color, 70%);
}
.field {
  width: 600px;
  margin: 2px;
  background: $field_color;
  text-align: right;
  width: 75vw;
}