@import "src/style/colors.scss";

button {
  width: 160px;
  border: none;
  background: $button_color;
  font-size: 25px;
  color: black;
  margin: 5px;
  
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,0.2), 4px -4px 8px 0 rgba(0,0,0,0.19);
  
  font-family: Candara, Verdana, sans-serif; 
}

.danger {
  background: darkred;
  color: white;
}

.field {
  display: grid;
  grid-template-columns: repeat(4, 25vmin);
  padding: 5px;
  position:relative;

  font-size: 20px;
}

.field:hover .tooltiptext {
	opacity: 1;
}

.tooltiptext {
  grid-column-start: 4;
  grid-column-end: 4;
  position: absolute;
  width: 180px;
  padding: 5px 0;
  z-index: 1;
  text-align: left;
  padding: 10px;

  opacity: 0;
  background-color: $base_color;

  font-size: 16px;
  color: #ffffff;

  transition: opacity 0.3s;
}

.fieldlabel {
  grid-column-start: 1;
  grid-column-end: 1;
}

.radiooptions {
  grid-column-start: 2;
  grid-column-end: 4;
  
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  li {
    text-align: right;
      font-size: 16px;
  }
}
.maininput {
  grid-column-start: 2;
  grid-column-end: 4;

  font-size: 20px;
  font-family: Candara, Verdana, sans-serif;

  background: $text_input_color;
  border: 0px;
}
.form_container {
  padding: 15px;
}