@import "src/style/colors.scss";
h1, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  display: block;

  font-size: 32px;
  font-weight: bold;
  color: $base_color;
  text-transform: uppercase;
} 

h2{
  font-size: 16px;
  font-style: italic;
}

h3 {
  font-size: 24px;
  color: $base_color;
}

.help_page{
  padding: 15px;
}
