@import "src/style/colors.scss";
ol{
  list-style-type: none;
  padding: 0;
  font-size: 30px;
}
a {
  display: block;
  line-height: 50px;
  padding-right: 10px;
  text-decoration: none;
  background-color: mix(black, $base_color, 50%);
  color: mix(white, $base_color, 50%);
  transition-duration: 1s;
}
a:hover {
  background-color: mix(black, $base_color, 70%);
  color: mix(white, $base_color, 70%);
}