@import "src/style/colors.scss";

.submenu {
  display: grid;
  grid-template-columns: 260px, 50px, auto;
}
.submenu_tab {
  max-width: 160px;
  border: none;
  background: $submenu_tab_color;
  font-size: 25px;
  color: black;
  font-family: Candara, Verdana, sans-serif;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,0.2), 4px -4px 8px 0 rgba(0,0,0,0.19);
  flex-grow: 1;
  margin: 0;
}
.submenu_tab_current {
  max-width: 166px;
  border: none;
  background: mix(white, $base_color, 60%);
  font-size: 27px;
  color: black;
  font-family: Candara, Verdana, sans-serif;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,0.1), 4px -4px 8px 0 rgba(0,0,0,0.1);
  flex-grow: 1;
  margin: 0;
  
  
}
.submenu_button {
  border-radius: 0px 0px 0px 0px;	
  max-width: 120px;
  

  background: $button_color;
  color: white;
}

#save_button {
  grid-column-start: 1;
  grid-column-end: 1;
}

#delete_button {
  grid-column-start: 2;
  grid-column-end: 2;
}
.tabs_container {
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
}
.form_container {
  
  background-color: mix(white, $base_color, 60%);
  min-height: 90%;
}