@import 'src/colors';

@font-face {
  font-family: 'Noto Sans';
  src: url(NotoSans-Regular.ttf);
}
@font-face {
  font-family: 'Noto Sans';
  src: url(NotoSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Noto Sans';
  src: url(NotoSans-Italic.ttf);
  font-style: italic;
}
/* Noto Sans: Headlings, subheads, callouts, and body copy */
body, p {
  font-family: 'Noto Sans';
  font-size: 16px;
  color: $bodyText;
}
h1 {
  color: $hText;
}
